.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.app-screen {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* object-fit: cover; */

  /* display: flex; */
  /* flex-direction: column; */
}

@media only screen and (max-device-width: 480px) {
  .app-screen {
    width: 100%;
  }
}